<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles-pd.css">
    <link rel="stylesheet" href="/css/styles-shared.css">


</head>

<body>

    <!--        **HEADER**                 -->
    <%- include("../partials/header")%>

        <!--      DESCRIPCION DE PRODUCTOS          -->

        <div id="general">
            <div class="barra-destino">
                <input class="barra-buscador" type="text" placeholder="Origen:">
                <input class="barra-buscador" type="text" placeholder="Destino:">
                <input class="barra-buscador" type="text" placeholder="Del: " onfocus="(this.type='date')">
                <input class="barra-buscador" type="text" placeholder="Al: " onfocus="(this.type='date')">
            </div>

            <div class="caja1">
                <div id="promos">
                    <h1 class="promo">Promo 1:</h1>
                </div>
                <div class="caja2">
                    <div class="destino-precio">
                        <ul>
                            <h2>
                                <li><%= producto.destino%> <br> $<%= producto.precio.valor%></li>
                            </h2>
                            <h2><a href="/Carrito">COMPRAR</a></h2>
                        </ul>
                    </div>
                    <div class="container">

                        <ul class="slider">
                            <li id="slide1">
                                <img src="./img/Bariloche/Bariloche1 Letras.jpg" />
                            </li>
                            <li id="slide2">
                                <img src="./img/Bariloche/Bariloche2 Lago.jpg" />
                            </li>
                            <li id="slide3">
                                <img src="./img/Bariloche/Bariloche3 Pueblo.jpg" />
                            </li>
                            <li id="slide4">
                                <img src="./img/Bariloche/Bariloche4 Noche.jpg" />
                            </li>
                            <li id="slide5">
                                <img src="./img/Bariloche/Bariloche5 Lago2.jpg" />
                            </li>
                            <li id="slide6">
                                <img src="./img/Bariloche/Bariloche6 Lago3.jpg" />
                            </li>
                            <li id="slide7">
                                <img src="./img/Bariloche/Bariloche7 catedral invierno.jpg" />
                            </li>
                            <li id="slide8">
                                <img src="./img/Bariloche/Bariloche8 invierno2.jpg" />
                            </li>
                        </ul>

                        <ul class="menu">
                            <li>
                                <a href="#slide1">1</a>
                            </li>
                            <li>
                                <a href="#slide2">2</a>
                            </li>
                            <li>
                                <a href="#slide3">3</a>
                            </li>
                            <li>
                                <a href="#slide4">4</a>
                            </li>
                            <li>
                                <a href="#slide5">5</a>
                            </li>
                            <li>
                                <a href="#slide6">6</a>
                            </li>
                            <li>
                                <a href="#slide7">7</a>
                            </li>
                            <li>
                                <a href="#slide8">8</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div id="descripcion">
                    <p><%= producto.detalle.descripcion%></p>
                    <h3>Este paquete incluye:</h3>
                    <ul class="detalle">
                        <li><a>Disponible desde: <%= producto.detalle.disponibilidad.from%></a></li>
                        <li>Hasta: <%= producto.detalle.disponibilidad.to%></li>
                        <li><a>Alojamiento en: <%= producto.detalle.hotel%></a></li>
                        <%if(producto.detalle.translados){%>
                        <li>usted cuenta con translado</li>
                        <%}else{%>
                        <li>sin translado</li>
                        <%}%>
            
                        <%if(producto.detalle.seguro){%>
                            <li>usted cuenta con seguro</li>
                            <%}else{%>
                            <li>sin seguro</li>
                            <%}%>
        
                        <li><a>Usted cuenta con las siguientes excursiones: <%= producto.detalle.excursiones%> 
                            </a></li>
                    </ul>
                </div>

        <!--                                -->

        <!--        **FOOTER**                 -->

        <footer>
            <div>
                <div class="contenedor-home">
                    <span><strong><a href="/Nosotros#nosotros" target="blank">Quiénes Somos</a></strong></span>
                    <span>
                        <i class="fab fa-whatsapp"></i>
                        <i class="fas fa-at"></i>
                        <strong><a href="/Nosotros#contacto" target="blank">Contactanos</a></strong></span>
                    <span><strong><a href="/Nosotros#acuerdo_legal" target="blank">Términos y
                                condiciones</a></strong></span>
                    <span><strong><a href="/Nosotros#defensa" target="blank">Ayuda</a></strong></span>
                    <span id="logo-footer">
                        <a href="/"><img src="/img/Logo.png" width="50%" height="auto"></a>
                    </span>
                </div>
            </div>
        </footer>

</body>

</html>